.loginPage {
    background: url('image/employeems.png');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(247, 7, 7, 0.5)), url("image/employeems.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(18, 14, 14, 0.6);
    color: white;
}

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}